test/fixtures/**/*.jpg !text !filter !merge !diff
test/fixtures/**/*.webm !text !filter !merge !diff
test/fixtures/**/*.m4a !text !filter !merge !diff
test/fixtures/**/*.png !text !filter !merge !diff
beebox/test/fixtures/**/*.jpg !text !filter !merge !diff
beebox/test/fixtures/**/*.webm !text !filter !merge !diff
beebox/test/fixtures/**/*.m4a !text !filter !merge !diff
beebox/test/fixtures/**/*.png !text !filter !merge !diff
beebox/field-tests/**/assets/*.jpg !text !filter !merge !diff
